


<div class="row shop-tracking-status">
    <div class="col-lg-12">
        <div class="card bg-light card-body mb-3">
            <div class="">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputOrderTrackingID" value=""
                        placeholder="# put your tracking id here">
                    </div>
                </div>
                <div class="form-group">
                    <div class="offset-sm-2 col-md-10">
                        <button type="button" id="shopGetOrderStatusID" class="btn btn-success">Get status</button>
                    </div>
                </div>
            </div>
             <h4>Your order status:</h4>
            <ul class="list-group">
                <li class="list-group-item"> <span class="prefix">State:</span>
 <span class="" id="state">N/A</span>
                </li>
                <li class="list-group-item"> <span class="prefix">Your payment address:</span>
 <span class="" id="send_to_address">N/A</span>
                </li>
                <li class="list-group-item"> <span class="prefix">Price per Space Marmot:</span>
 <span class="" id="per_nft_price">N/A</span>
                </li>
                                <li class="list-group-item"> <span class="prefix">Marmot(s) paid for:</span>
 <span class="" id="paid_for">N/A</span>
                </li>
                <li class="list-group-item"> <span class="prefix">Marmot(s) minted:</span>
 <span class="" id="minted">N/A</span>
                </li>
                <li class="list-group-item"> <span class="prefix">Your receive address (We will send the NFT here):</span>
 <span class="" id="received_from_address">N/A</span>
                </li>
                <li class="list-group-item"> <span class="prefix">Payment amount received:</span>
                    <span class="" id="received">N/A</span>
                </li>
            </ul>
        </div>
    </div>
</div>


<script>

const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
order_id = urlParams.get('id')
document.getElementById("inputOrderTrackingID").value = order_id
getData(order_id)


document.querySelector('#shopGetOrderStatusID').addEventListener('click', ()=>{
    order_id = document.getElementById("inputOrderTrackingID").value
    console.log(order_id)
    getData(order_id)
});

function getData(order_id) {
    var request = new XMLHttpRequest()

    // Open a new connection, using the GET request on the URL endpoint
    request.open('GET', 'https://d14fas1x0vwyyc.cloudfront.net/order/' + order_id, true)

    request.onload = function () {
        var data = JSON.parse(this.response)

        if (request.status >= 200 && request.status < 400) {
           document.getElementById('minted').innerText=data.item.minted;
           document.getElementById('received').innerText=data.item.total_paid/1000000000000 + " XCH";
           document.getElementById('received_from_address').innerText=data.item.received_from_address;
           document.getElementById('send_to_address').innerText=data.item.send_to_address;
           document.getElementById('state').innerText=data.item.state;
           document.getElementById('per_nft_price').innerText=data.item.per_nft_price/1000000000000 + " XCH";
           document.getElementById('paid_for').innerText=data.item.paid_for_minting;





        } else {
           document.getElementById('minted').innerText="Invalid tracking id, please try again"
           document.getElementById('received').innerText="Invalid tracking id, please try again"
           document.getElementById('received_from_address').innerText="Invalid tracking id, please try again"
           document.getElementById('send_to_address').innerText="Invalid tracking id, please try again"
           document.getElementById('state').innerText="Invalid tracking id, please try again"

      }
      }

    // Send request
    request.send()
}



</script>