
<form action="https://3r988ie6q2.execute-api.us-east-1.amazonaws.com/offer" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="royality_address">Royality Address</label>
    <input id="royality_address" name="royality_address" placeholder="xch123" type="text" aria-describedby="royality_addressHelpBlock" required="required" class="form-control">
    <span id="royality_addressHelpBlock" class="form-text text-muted">Royalties will go to this address. Make sure it is correct</span>
  </div>
  <div class="form-group">
    <label for="mail_address">Mail Address</label>
    <input id="mail_address" name="mail_address" placeholder="you@yourmail.com" type="text" aria-describedby="mail_addressHelpBlock" required="required" class="form-control">
    <span id="mail_addressHelpBlock" class="form-text text-muted">We need this to contact you in case something goes horribly wrong</span>
  </div>
  <div class="form-group">
    <label for="offer_file">Your offer</label>
    <input id="offer_file" name="offer_file" type="file" class="form-control" aria-describedby="offer_fileHelpBlock">
    <span id="offer_fileHelpBlock" class="form-text text-muted">Upload the offer from your wallet</span>
  </div>
  <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>